<% provide :title, "Home" %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "post_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <h1><%=  t "view.static_pages.static_page" %></h1>
  <p> <%= t "view.static_pages.home_1" %> </p>
  <%= link_to root_url do %>
    <em><%= t "view.static_pages.help_4" %> </em>
  <% end %>
<% end %>  
