<h1><%= t "pass_reset" %>t</h1>
<p><%= t "to_reset" %></p>
<%= link_to t("pass_reset"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "expire_noti" %></p>
<p><%= t "ignore_noti" %></p>
